.wrapper-homepage {
  background-image: url("./Back_img2.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.container {
  min-height: calc(100vh - 34px);
}
.sketch-img {
  display: flex;
  width: 170px;
  height: 170px;
  align-items: center;

  padding-top: 10px;
  padding-left: 10px;
}
.draw {
  color: black;
  font-size: 20px;
}

.logo {
  width: 200px;
  height: 200px;
  position: static;
  justify-content: flex-end;
  left: 10px;
  top: 10px;

  border-radius: 50px;
}
