.appbar {
  display: flex;
  justify-content: space-around;

  min-height: 15vh;
}

/* .nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
} */
.toolbar {
  background-color: skyblue;
  align-items: flex-end;
  justify-content: end;
}
.home-btn {
  color: tomato;
  size: 40px;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.img-home {
  width: 150px;
  height: 150px;
}

.p1,
.p2,
.p3,
.p4 {
  font-size: 20px;
  font-weight: bolder;
}
