/* .social-icon {
  justify-content: right;
  background-color: lawngreen;
  color: mediumorchid;
} */

.MuiBottomNavigation-root {
  position: fixed;
  display: flex;
  justify-content: space-around;
  bottom: 1px;
  height: 30px;
  width: 100%;
}
