.social-icon {
  justify-content: right;
  background-color: lawngreen;
  color: mediumorchid;
}
.footer {
  position: fixed;
  left: 5px;
  bottom: 30px;
  height: 30px;
  width: 20%;
  background-color: lightgreen;
}
