.name {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: mediumturquoise;
}
.number {
  align-items: center;
  background-color: rgb(193, 167, 247);
}

.MuiPaper-root.MuiPaper-elevation.css-1ri6ub7 {
  background-color: mediumpurple;
}
.cardcontent2 {
  background-color: rgb(148, 246, 242);
}
.cardaction1 {
  background-color: rgb(129, 239, 235);
}
.number-heading {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: palegoldenrod;
}
