.some-page-wrapper {
  margin: 15px;
  background-color: red;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.leftColumn {
  width: 30%;
  background-color: pink;
}

.rightColumn {
  width: 70%;
}
