.mousePointer {
  cursor: pointer;
  background-color: tomato;
  font-size: 30px;
  color: black;
  font-weight: 700;
  font-size: 20px;
}

.title {
  color: crimson;
  font-size: 30px;
}

.MuiPaper-rounded.MuiPaper-elevation1.mousePointer.css-1s6lrct-MuiPaper-root {
  font-size: 2rem;
  background-color: cyan;
  color: black;
}
/* .css-j23p4t-MuiGrid-root {
  background-color: palegoldenrod;
} */
.MuiTypography-root.MuiTypography-h6.css-1jgmn5n-MuiTypography-root {
  padding-bottom: 10px;
  font-size: 35px;
}
.canvas-draw {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  border: royalblue;
  box-shadow: rgb(65, 105, 225);
}

.canvas-btn {
  font-size: 20px;
}
/* .css-f6ig1s {
  background-color: rgb(167, 225, 243);
} */

.css-rxdq0m-MuiPaper-root {
  background-color: rgb(240, 46, 85);
}
