.alphabet-page {
  padding-top: 5px;
  background-color: rgb(121, 227, 241);
  background-repeat: no-repeat;
  align-items: center;
  background-size: cover;
}
.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeLarge.MuiButton-containedSizeLarge.MuiButtonBase-root.vowel-btn.css-jh47zj-MuiButtonBase-root-MuiButton-root {
  top: 5%;
  color: black;
  background-color: rgb(247, 247, 113);
  margin: 0;
  position: absolute;
  padding-top: 20px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
}

.MuiButton-root.MuiButton-contained.consonent-btn.css-jh47zj-MuiButtonBase-root-MuiButton-root {
  top: 5%;
  color: black;
  background-color: rgb(247, 247, 113);
  margin: 0;
  position: absolute;
  padding-top: 20px;
  left: 65%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
}
